html {
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(12, 12, 12);
    color: white;
}

.top {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.top img {
    width: 100px;
    margin-bottom: 10px;
    border-radius: 100%;
}

.top .name {
    margin-bottom: 10px;
}

.top .heading {
    margin-bottom: 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 500;
}

section a {
    margin-bottom: 10px;
}

.linkCardHeading {
    height: 40px;
    width: 660px;
    text-align: center;
    font-size: 15px;
    margin-left: 40px;
}

.linkCard {
    background-color: white;
    color: rgb(12, 12, 12);
    border: 2px solid white;
    height: 50px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
}

.linkCard:hover {
    color: white;
    background-color: transparent;
}

.linkCard i {
    font-size: 30px;
    margin: 5px;
    width: 5%;
    text-align: center;
}

.linkCard p {
    width: 95%;
    text-align: center;
    font-size: 15px;
}

footer {
    bottom: 0;
}

footer p{
    text-align: center;
    font-size: 15px;
}